/**
 * https://coolors.co/app/5194ec-7ecdd3-96a0aa-afaa89-af9c69
 */

html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #444;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    float: left;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #5194ec;
}

.map-controls{
    float: left;
    height: calc(100% - 80px);
    width: 280px;
    margin: 0;
    padding: 0;
}   

.map-wrapper {
    float: left;
    height: calc(100% - 80px);
    width: calc(100% - 280px);
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .map-controls {
        width: 38%
    }
    .map-wrapper {
        width: 62%
    }
}

@media (min-width: 1052px) {
    .map-controls {
        width: 400px;
    }
    .map-wrapper {
        width: calc(100% - 400px);
    }
}

.google-map {
    float: left;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* http://kaliko.com/blog/circled-number-with-pure-css/ */
.step {
  background: #5194ec;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #000; /* passes color contrast except normal text WCAG AAA */
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

.sf-end-location-wrapper {
    display: none;
}

.directions-panel {
/*    margin-top: 20px;
    background-color: #B3B1A5;
    padding: 10px;
*/}
